{% extends "base.html" %}

{% block content %}
  {% load static %}
  {% if messages %}
    {% for message in messages %}
      <div>{{ message.message }}</div>
    {% endfor %}
  {% endif %}

  <p class="custom-paragraph">my closet</p>

  <h1 class="heading1">あなただけの closet へようこそ</h1>
  <h1 class="heading1">いつでも どこにいても お気に入りの一着を</h1>

  <div class="image-container">
  <img src="{% static 'accounts/images/clothes.jpg' %}" class="custom-image">
  </div>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}