<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <h1>作品No.1 Pocket Closet</h1>
    <p>This is my portfolio page.</p>
    <!-- ポートフォリオからアプリへのリンク -->
    <a href="{% url 'accounts:home' %}">Go to My App</a>
    {% comment %} <div class="button-container">
      <button type="submit" class="btn btn-primary">ログイン</button>
    </div> {% endcomment %}
</body>
</html>
